{
  "preflight":[],
  "setupassistant": [
    {
      "required": true,
      "file": "/Library/Application Support/installapplications/LoggingFramework-1.0.pkg",
      "hash": "{{  LoggingFramework_hash  }}",
      "name": "Python Logging Library",
      "packageid": "com.thoughtworks.pkg.logging",
      "type": "package",
      "url": "{{  LoggingFramework_signed_URL  }}",
      "version": "1.0"
    },
    {
      "donotwait": true,
      "file": "/Library/Application Support/installapplications/logging.py",
      "hash": "{{ logging_hash  }}",
      "name": "first stab at logging to Sumo",
      "type": "rootscript",
      "url": "{{  logging_script  }}"
    },
    {
      "required": true,
      "file": "/Library/Application Support/installapplications/DEPNotify-11.3.pkg",
      "hash": "{{  DEP_Notify_hash  }}",
      "name": "DEPNotify-1.2.pkg",
      "packageid": "menu.nomad.DEPNotify",
      "type": "package",
      "url": "{{  DEP_Notify_signed_URL  }}",
      "version": "1.2"
    },
    {
      "required": true,
      "file": "/Library/Application Support/installapplications/Notify-1.0.pkg",
      "hash": "{{  Notify_hash  }}",
      "name": "Package to pre-populate DEPNotify with values",
      "packageid": "com.thoughtworks.pkg.notify",
      "type": "package",
      "url": "{{  Notify_signed_URL  }}",
      "version": "1.0"
    }
  ],
  "userland": [
    {
      "donotwait": true,
      "file": "/Library/Application Support/installapplications/caffeinate.py",
      "hash": "{{ caffeinate_hash  }}",
      "name": "prevent system sleep for 20 minutes",
      "type": "rootscript",
      "url": "{{  caffeinate_script  }}"
    },
    {
      "required": true,
      "file": "/Library/Application Support/installapplications/Sophos-AntiVirus-1.0.pkg",
      "hash": "{{  install_sophos_hash  }}",
      "name": "Check for Sophos Anti-Virus",
      "packageid": "com.thoughtworks.pkg.Sophos_for_deployments",
      "type": "package",
      "url": "{{ install_sophos  }}",
      "version": "1.0"
    },
    {
      "file": "/Library/Application Support/installapplications/high_sierra_vm_bless.py",
      "hash": "{{  high_sierra_vm_bless_hash  }}",
      "name": "high_sierra_vm_bless.py",
      "type": "rootscript",
      "url": "{{  high_sierra_vm_bless_url  }}"
    },
    {
      "file": "/Library/Application Support/installapplications/userscripts/Rolzog.sh",
      "hash": "{{ Rolzog_script_hash }}",
      "name": "laptop registration workflow",
      "type": "userscript",
      "url": "{{ Rolzog_script_url }}"
    },
    {
     "required": true,
     "file": "/Library/Application Support/installapplications/RolzogCheck-1.2.pkg",
     "hash": "{{ Rolzog_check_hash }}",
     "name": "Checking laptop registration has completed...",
     "packageid": "com.github.munki.pkg.RolzogCheck",
     "type": "package",
     "url": "{{ Rolzog_check_url }}",
     "version": "1.2"
   }
  ]
}
